*{
    font-family: 'Work Sans';
}
.title{
    color: black;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 25px;
}
.title-desc{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
header{
    background-image: url(../New-year/images/banner/banner1.png);
    background-repeat: no-repeat;
    max-width: 1600px;
    text-align: right;
    justify-content: center;
}
.head-text{
    padding: 200px 150px 150px 0;
}
.title-btn{
    border-radius: 5px;
    border: none;
    background-color: #F15B22;
    color: white;
    padding: 20px;
    font-weight: 600;
    font-size: 20px;
}